// M A I N  S E C T I O N //
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1a1a1a;
    .main-element{
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .card{
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-basis: calc(90% / 3);
            margin: 10px 10px;
            color: white;
            background-color: black;
            img{
                max-width: 150px;
                margin-bottom: 5px;
            }
            h3{
                margin: 5px auto;
            }
        }
    }
}